.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  outline: none;


  & .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  &:before {
    content: "";
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray);
    border-radius: 4px; /* For checkbox square */
    transition: 0.3s ease all;
  }

  &.small {
    &.bg_bg {
      &:before {
        box-shadow: inset 0 0 0 2px var(--bg);
      }
    }

    &.bg_dark {
      &:before {
        box-shadow: inset 0 0 0 2px var(--bg-dark);
      }
    }

    &:before {
      width: var(--checkbox-small-size);
      height: var(--checkbox-small-size);
    }
  }

  &.medium {
    &.bg_bg {
      &:before {
        box-shadow: inset 0 0 0 3px var(--bg);
      }
    }

    &.bg_dark {
      &:before {
        box-shadow: inset 0 0 0 3px var(--bg-dark);
      }
    }

    &:before {
      width: var(--checkbox-medium-size);
      height: var(--checkbox-medium-size);
    }
  }

  &.large {
    &.bg_bg {
      &:before {
        box-shadow: inset 0 0 0 3px var(--bg);
      }
    }

    &.bg_dark {
      &:before {
        box-shadow: inset 0 0 0 3px var(--bg-dark);
      }
    }

    &:before {
      width: var(--checkbox-large-size);
      height: var(--checkbox-large-size);
    }
  }

  &.bg_bg {
    &:before {
      background: var(--bg);
    }
  }

  &.bg_dark {
    &:before {
      background: var(--bg-dark);
    }
  }

  &.primary {
    &:focus-within {
      &:before {
        outline: 1px solid var(--primary);
      }
    }

    &.checked {
      &:before {
        border-color: var(--primary);
        background-color: var(--primary);
      }
    }
  }

  &.secondary {
    &:focus-within {
      &:before {
        outline: 1px solid var(--secondary);
      }
    }

    &.checked {
      &:before {
        border-color: var(--secondary);
        background-color: var(--secondary);
      }
    }
  }

  &.success {
    &:focus-within {
      &:before {
        outline: 1px solid var(--success);
      }
    }

    &.checked {
      &:before {
        border-color: var(--success);
        background-color: var(--success);
      }
    }
  }

  &.warning {
    &:focus-within {
      &:before {
        outline: 1px solid var(--warning);
      }
    }

    &.checked {
      &:before {
        border-color: var(--warning);
        background-color: var(--warning);
      }
    }
  }

  &.danger {
    &.checked {
      &:before {
        border-color: var(--danger);
        background-color: var(--danger);
      }
    }
  }

  &.info {
    &:focus-within {
      &:before {
        outline: 1px solid var(--info);
      }
    }

    &.checked {
      &:before {
        border-color: var(--info);
        background-color: var(--info);
      }
    }
  }

  &.link {
    &:focus-within {
      &:before {
        outline: 1px solid var(--link);
      }
    }

    &.checked {
      &:before {
        border-color: var(--link);
        background-color: var(--link);
      }
    }
  }

  &.white {
    &:focus-within {
      &:before {
        outline: 1px solid var(--white);
      }
    }

    &.checked {
      &:before {
        border-color: var(--white);
        background-color: var(--white);
      }
    }
  }

  &.black {
    &:focus-within {
      &:before {
        outline: 1px solid var(--black);
      }
    }

    &.checked {
      &:before {
        border-color: var(--black);
        background-color: var(--black);
      }
    }
  }

  &.text {
    &:focus-within {
      &:before {
        outline: 1px solid var(--text);
      }
    }

    &.checked {
      &:before {
        border-color: var(--text);
        background-color: var(--text);
      }
    }
  }
}
