@import '@styles/global';

.pagination {
    display: flex;
    align-items: center;

    & .arrow {
        background-color: inherit;
        cursor: pointer;

        & svg {
            fill: var(--text);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .pageList {
        display: flex;
        align-items: center;

        .pageItem {
            cursor: pointer;
            transition: background-color 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: color-mix(in srgb, var(--gray) 20%, transparent);
            }
            @each $key, $value in $pagitation-size {
                &.#{$key} {
                    padding: 2px;
                    width: $value;
                    height: $value;
                }
            }

            &.active {
                @each $key, $value in $colors {
                    &.#{$key} {
                        background-color: $value;
                    }
                }
            }

            &.disabled {
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    @each $key, $value in $pagitation-size {
        &.#{$key} {
            & .arrow {
                padding: 4px;
                width: $value;
                height: $value;
            }
        }
    }
}
