@import '@styles/global';

.input {
    width: 100%;
    border-style: solid;
    background: inherit;
    transition: 0.3s all ease;
    border-color: var(--gray);
    color: var(--text);
    @each $name, $value in $colors {
        &.#{$name} {
            &:focus {
                outline: none;
                border-color: $value;
                box-shadow: 0 0 1px $value;
            }
        }
    }
    @each $name, $value in $fontFamily {
        &.#{$name} {
            font-family: $value;
        }
    }
    @each $name, $value in $input-padding {
        &.#{$name} {
            padding: $value;
        }
    }

    @each $name, $value in $paragraph {
        &.#{$name} {
            font: $value;
        }
    }
}
