@import '@styles/global';

.wrapper {
    position: relative;
    display: inline-block;

    & .body {
        display: inline-block;
    }

    & .badge {
        position: absolute;
        border-radius: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        &.small {
            top: -8px;
            right: -8px;
        }

        &.medium {
            top: -10px;
            right: -10px;
        }

        &.large {
            top: -12px;
            right: -12px;
        }

        @each $key, $value in $badge-size {
            &.#{$key} {
                width: $value;
                height: $value;
            }
        }
        @each $key, $value in $colors {
            &.#{$key} {
                background-color: $value;
                border-color: $value;
            }
        }
    }
}
