@import '@styles/global';
.textarea {
    resize: none;
    width: 100%;
    border-style: solid;
    background: inherit;
    transition: 0.3s all ease;
    border-color: var(--gray);
    overflow-y: scroll;
    color: var(--text);
    &:focus {
        outline: none;
    }

    @each $key, $value in $colors {
        &.#{$key} {
            &:focus {
                outline: none;
                border-color: $value;
                box-shadow: 0 0 2px $value;
            }
        }
    }

    @each $key, $value in $textarea-padding {
        &.#{$key} {
            padding: $value;
        }
    }

    @each $name, $value in $fontFamily {
        &.#{$name} {
            font-family: $value;
        }
    }
    @each $name, $value in $paragraph {
        &.#{$name} {
            font: $value;
        }
    }
}
