.wrapper {
  position: relative;
  background: inherit;
}

.errorWrapper {
  position: relative;
  padding-bottom: 30px;

  & .error {
    position: absolute;
    bottom: 10px;
    left: 4px;
    display: flex;
    align-items: center;
    gap: 10px;

    & svg {
      width: 12px;
      height: 12px;
    }
  }

  & .errorInput {
    border-color: var(--danger) !important;

    &:focus {
      box-shadow: 0 0 2px var(--danger) !important;
    }

    & + .label {
      color: var(--danger) !important;
    }
  }
}

.label {
  position: absolute;
  pointer-events: none;
  transition: 0.3s all ease;
  background: inherit;
}


.textarea {
  resize: none;
  width: 100%;
  border-style: solid;
  background: inherit;
  transition: 0.3s all ease;
  border-color: var(--gray);

  &:focus {
    outline: none;
  }


  & + .label {
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }

  &.primary {
    &:focus {
      outline: none;
      border-color: var(--primary);
      box-shadow: 0 0 2px var(--primary);

      & + .label {
        color: var(--primary);
      }
    }
  }

  &.secondary {
    &:focus {
      outline: none;
      border-color: var(--secondary);
      box-shadow: 0 0 2px var(--secondary);

      & + .label {
        color: var(--secondary);
      }
    }
  }

  &.success {
    &:focus {
      outline: none;
      border-color: var(--success);
      box-shadow: 0 0 2px var(--success);

      & + .label {
        color: var(--success);
      }
    }
  }

  &.warning {
    &:focus {
      outline: none;
      border-color: var(--warning);
      box-shadow: 0 0 2px var(--warning);

      & + .label {
        color: var(--warning);
      }
    }
  }

  &.danger {
    &:focus {
      outline: none;
      border-color: var(--danger);
      box-shadow: 0 0 2px var(--danger);

      & + .label {
        color: var(--danger);
      }
    }
  }

  &.info {
    &:focus {
      outline: none;
      border-color: var(--info);
      box-shadow: 0 02px var(--info);

      & + .label {
        color: var(--info);
      }
    }
  }

  &.link {
    &:focus {
      outline: none;
      border-color: var(--link);
      box-shadow: 0 0 2px var(--link);

      & + .label {
        color: var(--link);
      }
    }
  }

  &.white {
    &:focus {
      outline: none;
      border-color: var(--white);
      box-shadow: 0 0 2px var(--white);

      & + .label {
        color: var(--white);
      }
    }
  }

  &.black {
    &:focus {
      outline: none;
      border-color: var(--black);
      box-shadow: 0 0 2px var(--black);

      & + .label {
        color: var(--black);
      }
    }
  }

  &.text {
    &:focus {
      outline: none;
      border-color: var(--text);
      box-shadow: 0 0 2px var(--text);

      & + .label {
        color: var(--text);
      }
    }
  }


  &.small {
    font: var(--paragraph-3);
    padding: var(--input-padding-small);

    & + .label {
      top: 12px;
      left: 20px;

      &.active {
        transform: scale(75%);
        top: 0;
        left: 18px;
      }
    }
  }

  &.medium {
    font: var(--paragraph-2);
    padding: var(--input-padding-medium);

    & + .label {
      top: 16px;
      left: 24px;

      &.active {
        transform: scale(75%);
        top: 0;
        left: 22px;
      }
    }
  }

  &.large {
    font: var(--paragraph-1);
    padding: var(--input-padding-large);

    & + .label {
      top: 18px;
      left: 30px;

      &.active {
        transform: scale(75%);
        top: 0;
        left: 28px;
      }
    }
  }
}
