@import '@styles/global';
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.list {
    display: flex;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;

    &.vertical {
        border-bottom: none;
    }

    &Item {
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease;

        @each $key, $value in $tabs-padding {
            &.#{$key} {
                padding: $value;
            }
        }

        & .label {
            transition: 0.3s color ease;
        }
    }
}

.line {
    position: absolute;
    transition:
        left 0.15s ease,
        width 0.15s ease,
        top 0.15s ease,
        height 0.15s ease;

    @each $key, $value in $colors {
        &.#{$key} {
            background-color: $value;
        }
    }
    &.horizontal {
        height: 2px;
        bottom: -2px;
        right: 0;
        width: 100%;
    }

    /* Линия для вертикальной ориентации */
    &.vertical {
        width: 2px;
        top: 0;
        height: 100%;
        right: -2px;
    }
}
