.button {
  transition: .3s all ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  outline: none;
  background: inherit;

  & .icon {
    & path {
      fill: var(--text);
    }
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    cursor: not-allowed;
    filter: brightness(90%);
  }

  &:not(:disabled):hover {
    filter: brightness(85%);
  }

  &:not(:disabled):active {
    filter: brightness(75%);
  }


  &.inherit {
    background-color: inherit;
    border: none;
  }

  &.primary {
    border-color: var(--primary);
    &:focus {
      box-shadow: 0px 0px 2px var(--primary);
    }
  }

  &.secondary {
    border-color: var(--secondary);
    &:focus {
      box-shadow: 0px 0px 2px var(--secondary);
    }
  }

  &.success {
    border-color: var(--success);
    &:focus {
      box-shadow: 0px 0px 2px var(--success);
    }
  }

  &.warning {
    border-color: var(--warning);
    &:focus {
      box-shadow: 0px 0px 2px var(--warning);
    }
  }

  &.danger {
    border-color: var(--danger);
    &:focus {
      box-shadow: 0px 0px 2px var(--danger);
    }
  }

  &.info {
    border-color: var(--info);
    &:focus {
      box-shadow: 0px 0px 2px var(--info);
    }
  }

  &.link {
    border-color: var(--link);
    &:focus {
      box-shadow: 0px 0px 2px var(--link);
    }
  }

  &.white {
    border-color: var(--white);
    &:focus {
      box-shadow: 0px 0px 2px var(--white);
    }
  }

  &.black {
    border-color: var(--black);
    &:focus {
      box-shadow: 0px 0px 2px var(--black);
    }
  }

  &.small {
    padding: var(--button-padding-small);

    & svg {
      width: 12px;
      height: 12px;
    }
  }

  &.medium {
    padding: var(--button-padding-medium);

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  &.large {
    padding: var(--button-padding-large);

    & svg {
      width: 20px;
      height: 20px;
    }
  }

}
