.wrapper {
  display: block;
  position: relative;
  transition: 0.2s all ease;
  cursor: pointer;
  background-color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 20px;

  &:after {
    content: "";
    position: absolute;
    background-color: var(--white);
    border-radius: 50%;

    &:after {
      width: 20px;
      height: 20px;
    }

    transition: 0.15s all ease;
  }

  &:focus {
    outline-offset: 1px;
    outline: 2px solid color-mix(in srgb, var(--gray) 75%, transparent);
  }

  &.checked {
    &.primary {
      background-color: var(--primary);
      border-color: var(--primary);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--primary) 75%, transparent);
      }
    }

    &.secondary {
      background-color: var(--secondary);
      border-color: var(--secondary);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--secondary) 75%, transparent);
      }
    }

    &.success {
      background-color: var(--success);
      border-color: var(--success);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--success) 75%, transparent);
      }
    }

    &.warning {
      background-color: var(--warning);
      border-color: var(--warning);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--warning) 75%, transparent);
      }
    }

    &.danger {
      background-color: var(--danger);
      border-color: var(--danger);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--danger) 75%, transparent);
      }
    }

    &.info {
      background-color: var(--info);
      border-color: var(--info);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--info) 75%, transparent);
      }
    }

    &.link {
      background-color: var(--link);
      border-color: var(--link);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--link) 75%, transparent);
      }
    }

    &.white {
      background-color: var(--white);
      border-color: var(--white);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--white) 75%, transparent);
      }
    }

    &.black {
      background-color: var(--black);
      border-color: var(--black);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--black) 75%, transparent);
      }
    }

    &.text {
      background-color: var(--text);
      border-color: var(--text);

      &:focus {
        outline: 2px solid color-mix(in srgb, var(--text) 75%, transparent);
      }
    }
  }

  &.small {
    padding: var(--switch-padding-small);

    &.checked {
      &:after {
        transform: translate(-0px, -50%);
      }
    }

    &:after {
      transform: translate(-12px, -50%);
      width: 12px;
      height: 12px;
    }
  }


  &.medium {
    padding: var(--switch-padding-medium);

    &.checked {
      &:after {
        transform: translate(-0px, -50%);
      }
    }

    &:after {
      transform: translate(-16px, -50%);
      width: 16px;
      height: 16px;
    }
  }

  &.large {
    padding: var(--switch-padding-large);

    &.checked {
      &:after {
        transform: translate(-0px, -50%);
      }
    }

    &:after {
      transform: translate(-20px, -50%);
      width: 20px;
      height: 20px;
    }
  }
}