@import '@styles/global';
.wrapper {
    display: block;
    position: relative;
    transition: 0.2s all ease;
    cursor: pointer;
    background-color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 20px;

    &:after {
        content: '';
        position: absolute;
        background-color: var(--white);
        border-radius: 50%;

        &:after {
            width: 20px;
            height: 20px;
        }

        transition: 0.15s all ease;
    }

    &.checked {
        @each $key, $value in $colors {
            &.#{$key} {
                background-color: $value;
                border-color: $value;
            }
        }
    }

    &.small {
        padding: var(--switch-padding-small);

        &.checked {
            &:after {
                transform: translate(-0px, -50%);
            }
        }

        &:after {
            transform: translate(-12px, -50%);
            width: 12px;
            height: 12px;
        }
    }

    &.medium {
        padding: var(--switch-padding-medium);

        &.checked {
            &:after {
                transform: translate(-0px, -50%);
            }
        }

        &:after {
            transform: translate(-16px, -50%);
            width: 16px;
            height: 16px;
        }
    }

    &.large {
        padding: var(--switch-padding-large);

        &.checked {
            &:after {
                transform: translate(-0px, -50%);
            }
        }

        &:after {
            transform: translate(-20px, -50%);
            width: 20px;
            height: 20px;
        }
    }
}
