@import "@styles/global";

.paragraph {
  @each $name, $value in $colors {
    &.#{$name} {
      color: $value;
    }
  }
  @each $name, $value in $paragraph {
    &.#{$name} {
      font: $value;
    }
  }
  @each $name, $value in $weight {
    &.#{$name} {
      font-weight: $value;
    }
  }
  @each $name, $value in $fontFamily {
    &.#{$name} {
      font-family: $value;
    }
  }
}
