.app.dark {
  /* Темная тема */
  --primary: #1677ff;

  --secondary: #722ed1;

  --success: #52c41a;

  --warning: #faad14;

  --danger: #f5222d;

  --info: #0958d9;

  --link: #4096ff;

  --white: #ffffff;
  --black: #000000;

  --text: #ffffff;
  --text-invert: #000000;

  --bg: #262626;
  --bg-dark: #1f1f1f;
}
