@import '@styles/global';
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: inherit;
    position: relative;
    max-width: 100%;
    width: 100%;

    & .placeholder {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background: inherit;
        border-style: solid;
        border-width: 1px;
        border-color: var(--gray);
        cursor: pointer;
        transition: 0.3s all ease;

        & .selectedList {
            display: flex;
            gap: 2px;
            max-width: 100%;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;

            &Item {
                padding: 0 5px;
                background-color: color-mix(in srgb, var(--gray) 20%, transparent);
                display: flex;
                align-items: center;
                gap: 5px;

                & .icon {
                    & svg {
                        width: 12px;
                        height: 12px;
                        fill: var(--text);
                        opacity: 0.5;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        & svg {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        @each $key, $value in $colors {
            &.#{$key} {
                &.active {
                    border-color: $value;
                }

                &:hover {
                    border-color: $value;
                }

                &:focus {
                    outline: 1px solid color-mix(in srgb, $value 75%, transparent);
                }
            }
        }

        & .arrow {
            &.active {
                & svg {
                    transform: rotate(180deg);
                }
            }

            & svg {
                transition: 0.1s all ease;
                min-width: 20px;
                min-height: 20px;
                opacity: 0.3;
                fill: var(--text);
            }
        }
        @each $key, $value in $select-padding {
            &.#{$key} {
                padding: $value;
            }
        }
    }

    & .select {
        background-color: var(--bg);
        position: absolute;
        z-index: 10000000;
        left: 0;
        right: 0;
        min-width: 100%;
        max-height: 300px;
        scroll-behavior: smooth;
        overflow-y: scroll;
        border: 1px solid var(--gray);
        padding: 2px;
        display: flex; /* Элемент остаётся в разметке */
        flex-direction: column;
        gap: 3px;
        transform: translateY(-10px); /* Начинаем чуть выше */
        opacity: 0; /* Начинаем с прозрачности */
        visibility: hidden; /* Делаем элемент невидимым */
        transition:
            transform 0.2s ease,
            opacity 0.2s ease,
            visibility 0s 0.2s; /* Переходы и задержка для visibility */

        &.visible {
            transform: translateY(0); /* Плавно опускаем на место */
            opacity: 1; /* Плавно показываем */
            visibility: visible; /* Видимость */
            transition:
                transform 0.2s ease,
                opacity 0.2s ease; /* Убираем задержку */
        }

        &.small {
            top: 40px;
        }

        &.medium {
            top: 48px;
        }

        &.large {
            top: 56px;
        }

        &.primary {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--primary) 75%, transparent);
            }
        }

        &.secondary {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--secondary) 75%, transparent);
            }
        }

        &.success {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--success) 75%, transparent);
            }
        }

        &.warning {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--warning) 75%, transparent);
            }
        }

        &.danger {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--danger) 75%, transparent);
            }
        }

        &.info {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--info) 75%, transparent);
            }
        }

        &.link {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--link) 75%, transparent);
            }
        }

        &.white {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--white) 75%, transparent);
            }
        }

        &.black {
            &:focus {
                outline: 1px solid color-mix(in srgb, var(--black) 75%, transparent);
            }
        }
    }
}
