.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: inherit;
  position: relative;
  max-width: 100%;
  width: 100%;

  & .placeholder {
    min-width: 300px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray);
    cursor: pointer;
    transition: 0.3s all ease;

    & .selectedList {
      display: flex;
      gap: 2px;
      max-width: 100%;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;

      &Item {
        padding: 0 5px;
        background-color: color-mix(in srgb, var(--gray) 20%, transparent);
        display: flex;
        align-items: center;
        gap: 5px;

        & .icon {
          & svg {
            width: 12px;
            height: 12px;
            fill: var(--text);
            opacity: 0.5;
            transition: all 0.3s ease;
          }

          &:hover {
            & svg {
              opacity: 1;
            }
          }
        }
      }
    }


    &.primary {

      &.active {
        border-color: var(--primary);
      }

      &:hover {
        border-color: var(--primary);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--primary) 75%, transparent);

      }
    }

    &.secondary {
      &.active {
        border-color: var(--secondary);
      }

      &:hover {
        border-color: var(--secondary);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--secondary) 75%, transparent);

      }
    }

    &.success {

      &.active {
        border-color: var(--success);
      }

      &:hover {
        border-color: var(--success);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--success) 75%, transparent);

      }
    }

    &.warning {

      &.active {
        border-color: var(--warning);
      }

      &:hover {
        border-color: var(--warning);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--warning) 75%, transparent);

      }
    }

    &.danger {

      &.active {
        border-color: var(--danger);
      }

      &:hover {
        border-color: var(--danger);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--danger) 75%, transparent);

      }
    }

    &.info {

      &.active {
        border-color: var(--info);
      }

      &:hover {
        border-color: var(--info);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--info) 75%, transparent);

      }
    }

    &.link {

      &.active {
        border-color: var(--link);
      }

      &:hover {
        border-color: var(--link);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--link) 75%, transparent);

      }
    }

    &.white {

      &.active {
        border-color: var(--white);
      }

      &:hover {
        border-color: var(--white);

      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--white) 75%, transparent);

      }
    }

    &.black {

      &.active {
        border-color: var(--black);
      }

      &:hover {
        border-color: var(--black);
      }

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--black) 75%, transparent);

      }
    }


    & .arrow {
      &.active {
        & svg {
          transform: rotate(180deg);
        }
      }

      & svg {
        transition: 0.1s all ease;
        min-width: 20px;
        min-height: 20px;
        opacity: 0.3;
        fill: var(--text);
      }
    }

    &.small {
      padding: var(--select-padding-small);
    }

    &.medium {
      padding: var(--select-padding-medium);
    }

    &.large {
      padding: var(--select-padding-large);
    }
  }

  & .select {
    background-color: var(--bg);
    position: absolute;
    z-index: 10000000;
    left: 0;
    right: 0;
    min-width: 100%;
    max-height: 300px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    border: 1px solid var(--gray);
    padding: 2px;
    display: flex; /* Элемент остаётся в разметке */
    flex-direction: column;
    gap: 3px;
    transform: translateY(-10px); /* Начинаем чуть выше */
    opacity: 0; /* Начинаем с прозрачности */
    visibility: hidden; /* Делаем элемент невидимым */
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0s 0.2s; /* Переходы и задержка для visibility */

    &.visible {
      transform: translateY(0); /* Плавно опускаем на место */
      opacity: 1; /* Плавно показываем */
      visibility: visible; /* Видимость */
      transition: transform 0.2s ease, opacity 0.2s ease; /* Убираем задержку */
    }

    &.small {
      bottom: calc(-260px - 5px);
    }

    &.medium {
      bottom: calc(-300px - 5px);
    }

    &.large {
      bottom: calc(-300px - 5px);
    }

    &.primary {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--primary) 75%, transparent);

      }
    }

    &.secondary {

      &:focus {
        outline: 1px solid color-mix(in srgb, var(--secondary) 75%, transparent);

      }
    }

    &.success {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--success) 75%, transparent);

      }
    }

    &.warning {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--warning) 75%, transparent);

      }
    }

    &.danger {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--danger) 75%, transparent);

      }
    }

    &.info {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--info) 75%, transparent);

      }
    }

    &.link {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--link) 75%, transparent);

      }
    }

    &.white {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--white) 75%, transparent);

      }
    }

    &.black {
      &:focus {
        outline: 1px solid color-mix(in srgb, var(--black) 75%, transparent);
      }
    }
  }
}