.option {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: inherit;
  outline: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }


  &.small {
    padding: var(--option-padding-small);
  }

  &.medium {
    padding: var(--option-padding-medium);
  }

  &.large {
    padding: var(--option-padding-large);
  }

  &.primary {
    &.active {
      background-color: color-mix(in srgb, var(--primary) 10%, transparent);
    }
  }

  &.secondary {
    &.active {
      background-color: color-mix(in srgb, var(--secondary) 10%, transparent);
    }
  }

  &.success {

    &.active {
      background-color: color-mix(in srgb, var(--success) 10%, transparent);
    }
  }

  &.warning {

    &.active {
      background-color: color-mix(in srgb, var(--warning) 10%, transparent);
    }
  }

  &.danger {

    &.active {
      background-color: color-mix(in srgb, var(--danger) 10%, transparent);
    }
  }

  &.info {

    &.active {
      background-color: color-mix(in srgb, var(--info) 10%, transparent);
    }
  }

  &.link {

    &.active {
      background-color: color-mix(in srgb, var(--link) 10%, transparent);
    }
  }

  &.white {

    &.active {
      background-color: color-mix(in srgb, var(--white) 10%, transparent);
    }
  }

  &.black {
    background-color: color-mix(in srgb, var(--black) 10%, transparent);
    border-color: var(--black);
  }

}