.button {
  cursor: pointer;
  background-color: var(--bg-dark);
  transition: 0.3s all ease;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 15px;
    height: 15px;
    fill: var(--text);
  }

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    filter: brightness(60%);
  }

  // Размеры
  &.small {
    padding: 8px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &.medium {
    padding: 12px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &.large {
    padding: 16px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
