@import '@styles/global';

.button {
    cursor: pointer;
    background-color: var(--bg-dark);
    transition: 0.3s all ease;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        fill: var(--text);
    }

    &:hover {
        filter: brightness(80%);
    }

    &:active {
        filter: brightness(60%);
    }

    @each $key, $value in $themeSwither-size {
        &.#{$key} {
            & svg {
                width: $value;
                height: $value;
            }
        }
    }
    @each $key, $value in $themeSwither-padding {
        &.#{$key} {
            padding: $value;
        }
    }
}
